apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-issuer
  name: landscape-ingress
spec:
  tls:
    - hosts:
        - osinfra.cn
      secretName: infra-tls
  rules:
    - host: osinfra.cn
      http:
        paths:
          - backend:
              serviceName: landscape-service
              servicePort: 80
            path: /
