apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-ingress-controller
  namespace: ingress-nginx
spec:
  replicas: 2
  template:
    spec:
      nodeSelector:
        ingress: "true"
      containers:
        - name: nginx-ingress-controller
          image: swr.cn-north-4.myhuaweicloud.com/opensourceway/common/ingress-nginx-controller-with-purge-cache:v0.35.0.0
          resources:
            requests:
              cpu: 4000m
              memory: 8192Mi
            limits:
              cpu: 4000m
              memory: 8192Mi
          args:
            - /nginx-ingress-controller
            - --configmap=$(POD_NAMESPACE)/nginx-configuration
            - --tcp-services-configmap=$(POD_NAMESPACE)/tcp-services
            - --udp-services-configmap=$(POD_NAMESPACE)/udp-services
            - --publish-service=$(POD_NAMESPACE)/ingress-nginx
            - --annotations-prefix=nginx.ingress.kubernetes.io
            - --maxmind-license-key=TtutIbyHcPwZNxNX
            - --default-backend-service=ingress-nginx/ingress-default-backend
          volumeMounts:
            - mountPath: /tmp/statics_cache
              name: nginx-proxy-cache
      volumes:
        - name: nginx-proxy-cache
          emptyDir:
            medium: Memory
            sizeLimit: "1000Mi"
